@page "/chat/{ChatIdStr}"
@inject IChatHub ChatHub
@inject IChatClient ChatClient
@inject NavigationManager NavigationManager
@inject StateService StateService
@attribute [Authorize]

<h1>Chat</h1>
@if(State.Chats.ContainsKey(ChatId))
{
    <ChatDisplay ChatState=@State.Chats[ChatId] Participants=@State.Participants></ChatDisplay>
}

@code {
    [Parameter]
    public string ChatIdStr { get; set; } = null!;

    [CascadingParameter]
    public State State { get; set; } = null!;

    private Guid ChatId => Guid.Parse(ChatIdStr);

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await ChatClient.NewChatInfoAsync(ChatIdStr).ConfigureAwait(false);
        }
        catch (InvalidOperationException)
        {
            // Do nothing for now
        }
    }

}
