@page "/fetchdata"
@inject IChatHub Chat
@inject IState State;

<h1>Chat</h1>

<p>Hello @State.Name</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Chat.RequestNameAsync();
        State.PropertyChanged += (sender, e) => {
            Console.WriteLine(State.Name);
            StateHasChanged();
            };
    }
}
