@page "/fetchdata"
@inject IChatHub Chat
@inject IState State;

<h1>Chat</h1>

<p>Hello <NameDisplay Name=@State.Name/></p>

@code {
    [Parameter()]
    public string? Name { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await Chat.RequestNameAsync();
        State.PropertyChanged += (sender, e) =>
        {
            StateHasChanged();
        };
    }
}
