@page "/login"
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject IAuthorizationService AuthorizationService
<h1>Login</h1>
<button @onclick="OnLoginButtonPress">Login</button>

@code{
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }

    [CascadingParameter]
    private State? State { get; set; }
    protected override async Task OnInitializedAsync()
    {
        if (authenticationStateTask == null)
        {
            return;
        }

        var user = (await authenticationStateTask).User;

        if (user?.Identity?.IsAuthenticated == true && State?.UserId != null)
        {
            NavigationManager.NavigateTo("/create-chat");
        }
    }

    private async Task OnLoginButtonPress()
    {
        await LocalStorage.SetItemAsync("userId", Guid.NewGuid().ToString());
        NavigationManager.NavigateTo("/create-chat");
    }
}
