@page "/create-chat"
@inject IChatHub ChatHub
@inject StateService StateService
@attribute [Authorize]

<h1>New Chat</h1>
<label for="chat-name">Chat Name:</label>
<input name="chat-name" @bind="ChatName" @bind:event="oninput"/>
<button @onclick="OnCreateChatButtonClick">Create</button>
<p>@Error</p>

@code {
    [Parameter]
    public Guid ChatId { get; set; }

    [CascadingParameter]
    public State State { get; set; } = null!;

    private string ChatName = string.Empty;

    private string? Error { get; set; }

    private async Task OnCreateChatButtonClick()
    {
        if (!string.IsNullOrWhiteSpace(ChatName))
        {
            try
            {
                await ChatHub.CreateChatAsync(ChatName);
            }
            catch (InvalidOperationException)
            {
                Error = "Not connected to server!  Please try again.";
           }
        }
    }
}
