@inject IChatHub Chat

@foreach(var message in ChatState.Messages.Reverse()){
    <h3>@Participants.GetValueOrDefault(message.SenderUserId)?.ParticipantName</h3>
    <p>@message.MessageContentsRaw</p>
}
<label for="message-text">Message:</label>
<input name="message-text" @bind="MessageText" @bind:event="oninput"/>
<button @onclick="OnSendButtonClick">Send new message</button>
@code {
    [Parameter]
    public ChatState ChatState { get; set; } = null!;

    [Parameter]
    public IReadOnlyDictionary<Guid, ParticipantState> Participants { get; set; } = null!;

    private string MessageText { get; set; } = string.Empty;

    private Task OnSendButtonClick()
    {
        return Chat.SendMessageAsync(ChatState.ChatId, MessageText);
    }
}
