@inject IChatHub ChatHub
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Darchatty</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/create-chat" Match="NavLinkMatch.All">
                <span class="oi oi-pencil" aria-hidden="true"></span> Create New Chat
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@($"/chat/1d0ad7fe-2fc1-4582-adee-3c433d40eeef") Match="NavLinkMatch.All">
                <span class="oi oi-justify-left" aria-hidden="true"></span> Darcy Chat
            </NavLink>
        </li>
        @foreach (var chat in State.Chats.Values)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href=@($"/chat/{chat.ChatId}") Match="NavLinkMatch.All">
                    <span class="oi oi-justify-left" aria-hidden="true"></span> @chat.ChatName
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/logout" Match="NavLinkMatch.All">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [CascadingParameter]
    public State State { get; set; } = null!;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
